#successCustomize {
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  width: 320px;
  left: calc(50vw - 160px);
  pointer-events: none;
}

.modal-footer {
  justify-content: space-between;
}

#reset-alert {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  justify-content: center;
  flex-direction: column;
  z-index: 999999;
  pointer-events: none;
  opacity: 0;

  & .message {
    font-size: 72px;
    color: red;
    margin: 0 auto;
  }
}

.modal-footer {
  justify-content: space-between;
}
